fastapi
uvicorn[standard]
python-dotenv
pydantic
requests
httpx
email-validator
python-multipart
jinja2

# Sicurezza e autenticazione
python-jose[cryptography]
passlib[bcrypt]

# Stripe per pagamenti live
stripe

# SMTP email (es. Zoho)
aiosmtplib

# Qiskit core e moduli aggiuntivi
qiskit==0.44.0
qiskit-finance==0.5.0
qiskit-algorithms==0.3.0


